---
import '@fancyapps/ui/dist/fancybox/fancybox.css';
import '../globals.css';
import './Layout.css';
import CV from '@cv';
import Header from '@/components/header/Header.astro';
import KeyboardManager from '@/components/KeyboardManager.astro';
import About from '@/components/sections/About.astro';
import Hero from '@/components/sections/Hero.astro';
import Tail from '@/components/sections/Tail.astro';
import ThemeSwitch from '@/components/ThemeSwitch.astro';

interface Props {
  title: string;
}

const { title } = Astro.props;

const { image, summary, url, theme } = CV.basics;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>
    <meta name="description" content={summary} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.ico" />
    <link rel="preload" as="image" href={image} />
    <meta property="og:url" content={url} />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={summary} />
    <meta property="og:image" content="" />
    <meta name="referrer" content="no-referrer" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content={url.split('//')[1] ?? ''} />
    <meta property="twitter:url" content={url} />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={summary} />
    <meta name="twitter:image" content="" />
    {CV?.analyticsCode && <script is:inline src={CV.analyticsCode} />}
  </head>

  <body data-theme={theme} class="relative bg-skin-fill font-sans">
    <div class="absolute top-0 -z-10 h-full w-full print:hidden">
      <div
        class="absolute bottom-auto left-[20%] right-auto top-0 h-[200px] w-[200px] -translate-x-[30%] translate-y-[20%] rounded-full bg-skin-hue/10 blur-[80px] invert-0 dark:bg-white/5"
      >
      </div>
    </div>
    <Header />

    <main
      class="relative grid h-full max-w-7xl gap-12 p-8 max-sm:py-16 md:min-h-screen md:grid-cols-6 md:p-16 xl:gap-24 print:max-w-none print:grid-cols-1 print:gap-6"
    >
      <div
        class="slide-enter space-y-6 ease-in md:col-span-2 print:col-span-1 print:grid print:grid-cols-2 print:gap-5 print:space-y-0"
      >
        <Hero />
        <About />
        <ThemeSwitch />
      </div>

      <slot />
    </main>

    <Tail />
    <KeyboardManager />
  </body>
</html>
